.modal, .modal-backdrop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal-backdrop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0,0%,89.8%,.75);
    z-index: 100;
}

.modal {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin: 25px;
    padding-top: 20vh;
}

.modal-container{
    position: relative;
    width: 100%;
    max-width: 600px;
    background: #fff;
    padding: 20px 20px 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


.edit-form input {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
}

.modal .modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal-footer .delete-button {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
    color: #00B0FF;
}

.modal-footer .delete-button:hover{
    color: rgba(0, 174, 255, 0.700);
}


.modal-footer .done-button {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
    color: #00B0FF;
}

.modal-footer .done-button:hover{
    color: rgba(0, 174, 255, 0.700);
}

.edit-form textarea {
    resize: none;
    line-height: 1.5;
    min-height: 5em;
    max-height: 50vh;
    width: 100%;
}

.edit-form input,textarea {
    width: 100%;
    display: block;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: transparent;
}